<section class="container-contacto">
    <h1 class="titulo">{{mensaje}}</h1>
    <p class="texto-contacto">
        {{texto1}}
        <a href="mailto:{{ correo }}" class="email-link">{{ correo }}</a>
       {{texto2}}
    </p>
    
    <div class="d-flex gap-4 justify-content-center">
        <a href="https://www.linkedin.com/in/anahi-brocardo" class="info-contacto" target="_blank">
          <i class="fa-brands fa-linkedin fa-2xl icon-link"></i>
        </a>
        <a href="https://github.com/AnahiBrocardo" class="info-contacto" target="_blank">
          <i class="fa-brands fa-square-github fa-2xl icon-link"></i>
        </a>
    </div>
</section>
