<section class="container-skill">
  <h2 class="mb-4 titulo">{{ titulo }}</h2>  <div class="container">

  
  <div class="skills-container">
    <!-- Front-End -->
    <div class="skill-block">
      <h3>Front-End</h3>
      <ul class="skill-list">
        <li><i><img class="icon" src="assets/iconos/angular.png" alt="Angular"></i> <span class="item">Angular</span></li>
        <li><i><img class="icon" src="assets/iconos/typescript.png" alt="TypeScript"></i> <span class="item">TypeScript</span></li>
        <li><i><img class="icon" src="assets/iconos/javascript.png" alt="JavaScript"></i> <span class="item">JavaScript</span></li>
        <li><i><img class="icon" src="assets/iconos/bootstrap.png" alt="Bootstrap"></i> <span class="item">Bootstrap</span></li>
        <li><i><img class="icon" src="assets/iconos/html.png" alt="HTML"></i> <span class="item">HTML </span></li>
        <li><i><img class="icon" src="assets/iconos/css.png" alt="CSS"></i> <span class="item">CSS</span></li>
      </ul>
    </div>

    <!-- Back-End -->
    <div class="skill-block">
      <h3>Back-End</h3>
      <ul class="skill-list">
        <li><i><img class="icon" src="assets/iconos/java.png" alt="java"></i><span class="item">Java</span></li>
        <li><i><img class="icon" src="assets/iconos/springboot.png" alt="springBoot"></i> <span class="item">Spring Boot</span></li>
        <li><i><img class="icon" src="assets/iconos/mysql.png" alt="MySql"></i><span class="item">MySQL</span></li>
      </ul>
    </div>

    <!-- Herramientas -->
    <div class="skill-block">
      <h3><h3>{{ herramientasTitulo }}</h3></h3>
      <ul class="skill-list">
        <li><i><img class="icon" src="assets/iconos/figma.png" alt="Figma"></i><span class="item">Figma</span></li>
        <li><i><img class="icon" src="assets/iconos/github.png" alt="Figma"></i> <span class="item">GitHub</span></li>
        <li><i><img class="icon" src="assets/iconos/postman.png" alt="Postman"></i><span class="item">Postman</span></li>
      </ul>
    </div>
  </div>
  </div>
</section>
