<section class="about-me">
  <div class="container">
    <div class="row g-4 g-lg-5">
      <div class="text col-lg-7 position-relative mb-4 mb-md-0">
        <h1 class="mb-4 display-5">
          <span>{{ displayedText }}</span><span class="cursor">|</span>
        </h1>
        <div class="descripcion">
          <p class="mb-4">
            {{ descripcionTexto2 }}
          </p>
          <p class="mb-4">
            {{ descripcionTexto }}
          </p>
        </div>
        
      </div>
      <div class="img col-lg-5 position-relative mb-4 mb-md-0">
        <img src="assets/imagenes/imagen.png" alt="Imagen" class="img-fluid rounded">
      </div>
    </div>
  </div>
</section>
